{%  extends '::base.html.twig' %}
{% block body %}
<body class="text-center">
<main class="form-signin">
    {% if   is_granted('ROLE_ADMIN') or is_granted('ROLE_AUTHOR') %}
<p style="margin-top"></p>
        {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_row(form.title) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.content) }}
        {{ form_row(form.image) }}
        <br>
        <button class="btn btn-lg btn-success" type="submit">Register</button>
        {{ form_end(form) }}
 

    {% else %}

<div class="" style="height: 80%;'">
    <label class="w-100 h-100 p-5 bg-danger text-white"><br><br>
        <h1 class="h3 mb-3 fw-normal" style="font-size: 55px;">Error </h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <h2>Unauthorized Access</h2>
</div>
{% endif%}

</main>
</body>

{% endblock%}
