{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}
<title>{% block title %}{% endblock %} Change Passowrd</title>
<body class="text-center">
<main class="form-signin">
    <img class="mb-4" src="{{ asset('/images/4.png') }}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">User Register</h1>

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div><br>
        <input type="submit"  class="btn btn-lg btn-success" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock %}
